# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
.venv/
.env
.uv/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
htmlcov/

# Windows
*.identifier
**/outputs/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
